[Unit]
Description=wlmproxy is a transparent proxy server for the MSN protocol
After=syslog.target network.target

[Service]
Type=forking
Environment=config=/etc/wlmproxy/wlmproxy.conf
EnvironmentFile=-sysconfig/wlmproxy
ExecStart=/usr/sbin/wlmproxy -c ${config} -d $OPTS

[Install]
WantedBy=multi-user.target
